doctype html
html(lang='en-US', xmlns='http://www.w3.org/1999/xhtml')
  head(profile='http://www.w3.org/2005/10/profile')
    title= title
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width')

  body
    block content
    p Welcome to sf-lynx
    #msgs

    script(type="text/javascript", src="lib/socket.io/lib/socket.js")
    script(type="text/javascript", src="lib/jquery/dist/jquery.min.js") 
    script(type="text/javascript").
      var socket = io();
      socket.on('connect', function () {
        socket.on('pageview', function (msg) {
            $('#msgs').append('<li>' + msg.url + '</li>');
        });
      });
